.contenedorPrincipal {
    display: flex;
}

.contenedorInput {
    background-color: #865dff;
    height: 100vh;
    flex-basis: 50%;
}

.contenedorMapa {
    background-color: lightblue;
    height: 600px;
    flex-basis: 50%;
}